{
  "presets": ["env", "react"],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ]
}
